.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 60px;
}
.container{
  display : flex;
  width: 16%;
  height:20px;
  margin:auto;
  padding-bottom: 60px;
  border: 0px solid transparent;
  justify-content: space-between;
  background-color: black;
  border-radius: 25px;
  margin-bottom:50px;
}
#a{
  color : white;
  
  padding-left: 15px;
}
#y{
  background-color : orange;
  width:50%;
  height: 80px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

}
/* h1{
  border : 1px solid black;
  
} */